# Object files
**/*.o
**/*.elf
**/*.d

# General project-specific ignores
build/*
tools/agbcc/*
.claude/*
*.gba
*.sav
*.dump
*.bps
*.Identifier
.reapeaks
.vscode/*
ctx.c
Flips/*

# my handy graphics tool
bitesthedust.py
